#root {
  margin: 0 auto;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: white !important;
  color: black !important;
}

.css-1kkpk3h-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}

.px {
  padding: 0 30px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.padding {
  padding-top: 70px;
}

.img {
  width: 80%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 40px 40px;

}

.content {
  padding: 0 50px;
  text-align: justify;
}

.flex {
  display: flex;
}

.flex div * {
  margin: 0;
  padding: 0;
}

p {
  color: #544837 !important;
}

.description {
  padding-top: 20px;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  margin-right: 10px;
}

.address {
  font-size: small;
}