#root {
  margin: 0 auto;
}

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
  background-color: white !important;
  color: black !important;
}

.css-1kkpk3h-MuiButtonBase-root-MuiButton-root {
  color: black !important;
}

.px {
  padding: 0 30px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.padding {
  padding-top: 70px;
}

.img {
  width: 80%;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 40px;

}

.content {
  padding: 0 50px;
  text-align: justify;
}